:root {
  --primary-color: #fff;
  --bg-drak: rgb(33 33 33 / 1) !important;
  --text-black: #000;
  --border-color: #ebebeb;
  --tw-text-opacity: 1;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
  --font-inter: "__Inter_36bd41", "__Inter_Fallback_36bd41";
}
body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-light {
  background-color: var(--primary-color);
}

.bg-black {
  background-color: var(--bg-drak);
}

.text-light {
  color: var(--primary-color);
}

p {
  margin: 0;
}

.header-title {
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 44rem;
}

.header-title_logo {
  max-width: 12rem;
}

.heading-1 {
  color: rgb(9 9 11 / var(--tw-text-opacity));
  font-weight: 900;
  font-size: 44px;
  line-height: 56px;
  text-wrap: balance;

  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: normal;
  }
}

/* From Uiverse.io by cssbuttons-io */
.toggle-button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-button:active,
.toggle-button:hover {
  outline: 0;
}

.toggle-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.toggle-button:hover span {
  background: none;
}

.toggle-button:active {
  transform: scale(0.9);
}

.flash {
  max-width: 6rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.form {
  min-width: 20rem;
}

.form-input {
  height: 2.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form-button {
  height: 2.75rem;
  background-color: rgb(9 9 11 / 1);
  font-weight: 400;
}

.form-button i {
  transition: 0.3s;
  padding-left: 5px;
}

.form-button:hover i {
  transform: translateX(5px);
  transition: all 0.3s ease;
}

/* Table */
.table-box {
  max-width: 60rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--primary-color);
}

.table-custom thead {
  background-color: var(--border-color);
}

.blur-text {
  font-size: 24px;
  color: black;
  filter: blur(3px);
}

.table-custom th,
.table-custom td {
  padding: 0.8rem;
  font-size: 13px;
}

.table-custom td {
  font-weight: 600;
  font-size: 12px;
  gap: 2px;
}

.table-custom th i {
  color: #999;
  font-size: 11px;
}

.table-custom .fa-fire {
  color: orangered;
}

/* Accordion */
.question {
  max-width: 40rem;
  margin: 0 auto;
}

.accordion {
  cursor: pointer;
  padding: 13px 0px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background: none;
  border-bottom: 1px solid var(--border-color);

  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.accordion:after {
  content: "\002B";
  font-weight: bold;
  float: right;
}

.active:after {
  content: "\2212";
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: rgb(82 82 91 / 1);
  font-size: 14px;
  line-height: 28px;
}

/* Footer */
.footer {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.footer .content {
  font-size: 14px;
  line-height: 24px;

  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

/* Toggle */
.toggle-box {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}

.toggle {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

.w-8 {
  width: 1.5rem /* 32px */;
}
